.body{
    background-color: green;
}
.h1{
    margin:40px;
    background-color:transparent;
}
.stock-form{
    margin-bottom: 40px;
}
.navbar-brand{
    background-color: gray;
}
#stock-body{
    overflow:scroll;
}
